<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数字炸弹</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div id="game-container">
        <h1 align="center">数字炸弹游戏</h1>
        <div id="range">范围：[1, 100]</div>
        <input id="user_input" type="text" placeholder="请输入你的猜测">
        <button id="submit">提交</button>
        <div id="feedback"></div>
        <div id="count">已猜测次数：0</div>
        <div id="binary_search"></div>
    </div>
    <script src="/static/script.js"></script>
</body>

</html>